services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  JtcSolutions\Core\Listener\ExceptionListener:
    arguments:
      $exceptionTranslationDomain: '%jtc_solutions_core.exception_translation_domain%'
    tags:
      - { name: kernel.event_listener, event: kernel.exception }

  JtcSolutions\Core\ParamResolver\UuidQueryParamResolver:
    tags:
      - { name: 'controller.argument_value_resolver', priority: 100 }

  JtcSolutions\Core\ParamResolver\EntityParamResolver:
    tags:
      - { name: 'controller.argument_value_resolver', priority: 111 } # ORM.EntityValueResolver has 110

  JtcSolutions\Core\Service\RepositoryLocator:
    public: true

  # allows open api to show uuid interfaces as string in documentation
  JtcSolutions\Core\Service\PropertyDescriber\UuidInterfacePropertyDescriber:
    public: true
    tags:
      - { name: 'nelmio_api_doc.object_model.property_describer', priority: 100}

  JtcSolutions\Core\Provider\NotificationProvider:
    public: true

  JtcSolutions\Core\Factory\PaginationFactory:
    public: true

  JtcSolutions\Core\Factory\EntityLinkFactory:
    public: true